{{> header }}

<section class="w-5/6 sm:w-5/6 md:w-3/6 lg:3/6 mx-auto mt-6 border-b border-gray-600 pb-2">
  <p class="mb-4">Hello!</p>

  <p class="mb-4">This site shares a collection of resources for understanding and applying empathy in everyday experiences.</p>
</section>

<section class="w-5/6 sm:w-4/6 md:w-3/6 lg:w-3/6 mx-auto" id="posts">
  {{#if posts}}
    {{#each posts }}
      <article class="{{#unless @last}}border-b border-gray-600{{/unless}} py-8">
        <h2 {{#if this.data.link}}class="text-lg m-0 font-semibold"{{/if}}>
          <a href="{{ this.url }}" class="text-teal-500">
            {{ this.data.title }}
          </a>
        </h2>
        {{#if this.data.link}}
          <a href="{{this.data.link}}" class="text-gray-600 text-sm mb-4 inline-block">[{{shorten this.data.link 58}}]</a>
        {{/if}}
        <div class="mb-2">
          {{{ this.templateContent }}}
        </div>
        <p class="text-sm text-gray-600 mb-0">{{formatDate this.data.date}}</p>
      </article>
    {{/each}}
  {{else}}
    <h2>There ain't no posts here.</h2>
  {{/if}}

  {{#if pagination.pages}}
    <nav class="clearfix py-8">
      {{#if pagination.href.previous}}
        <a href="{{pagination.href.previous}}">&lt; {{prevPage pagination.pageNumber}}</a>
      {{/if}}
      {{#if pagination.href.next}}
        <a href="{{pagination.href.next}}" class="float-right text-teal-500" >{{nextPage pagination.pageNumber}} &gt;</a>
      {{else}}
        <p class="text-gray-600 text-right">(Fin)</p>
      {{/if}}
    </nav>
  {{/if}}
</section>

{{> footer }}
